@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
}

img {
	width: 100%;
    display: block;
}

body {
	margin: 0;
	padding: 0;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  padding: 0.5em 0.75em;
  position: absolute;
  top: -3em;

  background-color: #000;

  color: #fff;
  font-size: 1.125em;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}


header {
    background-color: #226474;
    overflow: hidden;
    position: relative;
}

.logo {
    display: block;
    width: 5rem;
    margin: 1.5rem 5%;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	top: 10px;
	height: 40px;
	overflow: hidden;
	position: absolute;
	right: 10px;
	width: 46px;
	background: transparent url("../images/icon-nav.svg") no-repeat 0 0;
	text-indent: 100%;
	white-space: nowrap;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active {
	background-color: white;
	background-position: 0 -40px;
}

.nav {
	background-color: #226474;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.nav a,
.nav a:link,
.nav a:visited {
	display: block;
	padding: 0.5em 10px;

	color: #e2e2e2;
	text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
	background-color: #222;

	color: #fff;
}

.nav-bottom {
	margin-top: 1.5em;
}

.nav-top {
	max-height: 0;
    overflow: hidden;

	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
    list-style-type: none;
}

.nav-top[data-state="expanded"] {
	max-height: 14em;
}

.billboard {
    margin: 0;
    padding: 3em;
    position: relative;
    background-color: #226474;
    color: #fff;
    width: 100%;
    display: block;
}

.billboard::after {
    content:" ";
    position: absolute;
    background-color: #226474;
    width: 50px;
    height: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    bottom: -25px;
}

.try-button {
    font-size: 2rem;
    cursor: pointer;
    position: center;
    padding-top: 3rem;
    list-style-type: none;
    background-color: #ff966f;
    color: black;
}

.try-button a:visited {
    color: black;
    display: block;
}
    

.try-button a {
    text-decoration: none;
}

.feature-image {
    max-width: 200px;
    margin: 0 auto;
}

footer {
    padding: 2rem;
}

.facebook {
    width: 46px;
    margin: 0;
    display: inline-block;
}

.social {
    background-color: #226474;
    text-align: center;
}

blockquote {
    margin: 0;
    padding: 0 0 0 5%;
    overflow: hidden;
    text-align: center;
}

blockquote p {
    font-size: 0.959rem;
}

.reviews span {
    float: left;
    margin: 1.5rem 0;
    padding-right: 1rem;
    text-align: center;
}

blockquote p:before {
    content: "“";
    font-size: 2rem;
    color: grey;
}

blockquote p:after {
    content: "”";
    font-size: 2rem;
    color: grey;
    position: absolute;
    margin-left: .5em;
    margin-top: -0.2em;
}

.beige {
    background-color: beige;
}

.nav-footer {
    list-style-type: none;
}

/* PRICING PAGE */

.package {
    font-size: 2rem;
    cursor: pointer;
    position: center;
    padding-top: 3rem;
    list-style-type: none;
    background-color: rgb(68, 234, 221);
    color: black;
}

.package::after {
    content:" ";
    position: absolute;
    background-color: rgb(68, 234, 221);
    width: 50px;
    height: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
}

button {
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 16px;
    background-color: purple;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: turquoise;
}

button:active {
    border-color: orange;
}

.faq {
    font-size: 2rem;
    position: center;
    padding-top: 3rem;
    list-style-type: none;
    background-color: #72d49f;
    color: black;
}

.faq::after {
    content:" ";
    position: absolute;
    background-color: #72d49f;
    width: 50px;
    height: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
}

/* Sign Up */

.form {
    text-align: left;
    max-width: 35em;
    margin: 0 auto;
}

label {
    display: block;
}

.checkbox {
    white-space: nowrap;
    display: block;
}

.radio {
    white-space: nowrap;
    display: block;
}

input + label {
    display: inline-block;
}

.field {
    font-size: 0.75em;
    padding: 0.5em;
}

.box-width {
    width: 100%;
}

.footer {
    background-color: #226474;
}



@media only screen and (min-width: 25em) {
    
    .billboard-text {
    font-size: 2rem;
}
      
    .nav {
    text-align: center;
  }

  .nav li {
    display: inline-block;
  }

  .nav-footer a,
  .nav-footer a:link,
  .nav-footer a:visited {
    display: inline-block;
  }

  .nav-footer li::after {
    display: inline-block;
    width: 0.5em;
    list-style-type: none;

    color: #226474;
    text-align: center;
  }

  .nav-footer li:last-child::after {
    content: none;
  }
    
.package::after {
    content:" ";
    position: absolute;
    background-color: rgb(68, 234, 221);
    width: 50px;
    height: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
}
    
}

@media only screen and (min-width: 38em) {
      .nav-footer {
    text-align: right;
  }
    
.billboard-text {
    font-size: 3.5rem;
}
    
.billboard {
    margin: 0;
    padding: 7em;
    position: relative;
    background-color: #226474;
    color: #fff;
    width: 100%;
    display: block;
}

.billboard::after {
    content:" ";
    position: absolute;
    background-color: #226474;
    width: 50px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    bottom: -25px;
}
    
.package::after {
    content:" ";
    position: absolute;
    background-color: rgb(68, 234, 221);
    width: 50px;
    height: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
}
    
}

@media only screen and (min-width: 60em) {

    
}







